name: release
on:
  push:
    tags:
      - v*

env:
  GO_VERSION: "1.21"

permissions:
  contents: write

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          repository: nektos/act
          path: act
          ref: ${{ github.ref }}
          fetch-depth: 0
      - run: rm -rf act/.git
      - run: mv act/* .
      - uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
          check-latest: true
      - uses: actions/cache@v3
        if: ${{ !env.ACT }}
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      # Needed by cli/gh-extension-precompile
      - run: apt-get update && apt-get install -y g++-x86-64-linux-gnu libc6-dev-amd64-cross
      - uses: cli/gh-extension-precompile@v1
        with:
          go_version: ${{ env.GO_VERSION }}
